In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(np.random.randn(10,4), index =pd.date_range('2025-11-06',periods=10), columns=['a','b','c','d'])
df

                   a         b         c         d
2025-11-06 -1.950398 -0.093405 -0.004364 -0.333403
2025-11-07 -0.480982 -0.776177  0.528784  0.814701
2025-11-08 -2.632174  0.531174 -0.179242  0.207979
2025-11-09 -1.162009  0.146183 -0.517932 -0.790746
2025-11-10  0.094675 -0.611430 -1.171104  0.371751
2025-11-11 -0.046368  0.192289  1.013880 -0.530352
2025-11-12  0.401536 -0.764090  0.886723  1.704287
2025-11-13 -1.015680 -1.026098 -0.415103 -1.408973
2025-11-14 -1.422062  0.299432  1.135910 -0.559693
2025-11-15 -0.485642  0.161510 -0.785261 -2.457738

In [7]:
df['new'] = df['b'] + df['d']
df

                   a         b         c         d       new
2025-11-06 -1.950398 -0.093405 -0.004364 -0.333403 -0.426808
2025-11-07 -0.480982 -0.776177  0.528784  0.814701  0.038524
2025-11-08 -2.632174  0.531174 -0.179242  0.207979  0.739153
2025-11-09 -1.162009  0.146183 -0.517932 -0.790746 -0.644563
2025-11-10  0.094675 -0.611430 -1.171104  0.371751 -0.239679
2025-11-11 -0.046368  0.192289  1.013880 -0.530352 -0.338062
2025-11-12  0.401536 -0.764090  0.886723  1.704287  0.940197
2025-11-13 -1.015680 -1.026098 -0.415103 -1.408973 -2.435071
2025-11-14 -1.422062  0.299432  1.135910 -0.559693 -0.260261
2025-11-15 -0.485642  0.161510 -0.785261 -2.457738 -2.296228

In [8]:
df['sqrt_of_d'] = df['d'].apply(lambda x : x**2)
df

                   a         b         c         d       new  sqrt_of_d
2025-11-06 -1.950398 -0.093405 -0.004364 -0.333403 -0.426808   0.111157
2025-11-07 -0.480982 -0.776177  0.528784  0.814701  0.038524   0.663738
2025-11-08 -2.632174  0.531174 -0.179242  0.207979  0.739153   0.043255
2025-11-09 -1.162009  0.146183 -0.517932 -0.790746 -0.644563   0.625279
2025-11-10  0.094675 -0.611430 -1.171104  0.371751 -0.239679   0.138199
2025-11-11 -0.046368  0.192289  1.013880 -0.530352 -0.338062   0.281273
2025-11-12  0.401536 -0.764090  0.886723  1.704287  0.940197   2.904595
2025-11-13 -1.015680 -1.026098 -0.415103 -1.408973 -2.435071   1.985206
2025-11-14 -1.422062  0.299432  1.135910 -0.559693 -0.260261   0.313256
2025-11-15 -0.485642  0.161510 -0.785261 -2.457738 -2.296228   6.040474

In [9]:
def find_log (x):
    if x < 0 :
        return x
    else:
        return np.log(x)

In [10]:
df['log_of_d'] = df['d'].apply(find_log)

In [11]:
df

,a,b,c,d,new,sqrt_of_d,log_of_d
2025-11-06,-1.950398,-0.093405,-0.004364,-0.333403,-0.426808,0.111157,-0.333403
2025-11-07,-0.480982,-0.776177,0.528784,0.814701,0.038524,0.663738,-0.204934
2025-11-08,-2.632174,0.531174,-0.179242,0.207979,0.739153,0.043255,-1.570319
2025-11-09,-1.162009,0.146183,-0.517932,-0.790746,-0.644563,0.625279,-0.790746
2025-11-10,0.094675,-0.611430,-1.171104,0.371751,-0.239679,0.138199,-0.989532
2025-11-11,-0.046368,0.192289,1.013880,-0.530352,-0.338062,0.281273,-0.530352
2025-11-12,0.401536,-0.764090,0.886723,1.704287,0.940197,2.904595,0.533147
2025-11-13,-1.015680,-1.026098,-0.415103,-1.408973,-2.435071,1.985206,-1.408973
2025-11-14,-1.422062,0.299432,1.135910,-0.559693,-0.260261,0.313256,-0.559693
2025-11-15,-0.485642,0.161510,-0.785261,-2.457738,-2.296228,6.040474,-2.457738

In [12]:
def test1 (x):
    if x < 0:
        return 0
    else:
        return 1

In [14]:
df['new_a'] = df['a'].apply(test1)
df

,a,b,c,d,new,sqrt_of_d,log_of_d,new_a
2025-11-06,-1.950398,-0.093405,-0.004364,-0.333403,-0.426808,0.111157,-0.333403,0
2025-11-07,-0.480982,-0.776177,0.528784,0.814701,0.038524,0.663738,-0.204934,0
2025-11-08,-2.632174,0.531174,-0.179242,0.207979,0.739153,0.043255,-1.570319,0
2025-11-09,-1.162009,0.146183,-0.517932,-0.790746,-0.644563,0.625279,-0.790746,0
2025-11-10,0.094675,-0.611430,-1.171104,0.371751,-0.239679,0.138199,-0.989532,1
2025-11-11,-0.046368,0.192289,1.013880,-0.530352,-0.338062,0.281273,-0.530352,0
2025-11-12,0.401536,-0.764090,0.886723,1.704287,0.940197,2.904595,0.533147,1
2025-11-13,-1.015680,-1.026098,-0.415103,-1.408973,-2.435071,1.985206,-1.408973,0
2025-11-14,-1.422062,0.299432,1.135910,-0.559693,-0.260261,0.313256,-0.559693,0
2025-11-15,-0.485642,0.161510,-0.785261,-2.457738,-2.296228,6.040474,-2.457738,0

In [15]:
df.sort_values(by='b')
df

,a,b,c,d,new,sqrt_of_d,log_of_d,new_a
2025-11-06,-1.950398,-0.093405,-0.004364,-0.333403,-0.426808,0.111157,-0.333403,0
2025-11-07,-0.480982,-0.776177,0.528784,0.814701,0.038524,0.663738,-0.204934,0
2025-11-08,-2.632174,0.531174,-0.179242,0.207979,0.739153,0.043255,-1.570319,0
2025-11-09,-1.162009,0.146183,-0.517932,-0.790746,-0.644563,0.625279,-0.790746,0
2025-11-10,0.094675,-0.611430,-1.171104,0.371751,-0.239679,0.138199,-0.989532,1
2025-11-11,-0.046368,0.192289,1.013880,-0.530352,-0.338062,0.281273,-0.530352,0
2025-11-12,0.401536,-0.764090,0.886723,1.704287,0.940197,2.904595,0.533147,1
2025-11-13,-1.015680,-1.026098,-0.415103,-1.408973,-2.435071,1.985206,-1.408973,0
2025-11-14,-1.422062,0.299432,1.135910,-0.559693,-0.260261,0.313256,-0.559693,0
2025-11-15,-0.485642,0.161510,-0.785261,-2.457738,-2.296228,6.040474,-2.457738,0

In [17]:
df.index

DatetimeIndex(['2025-11-06', '2025-11-07', '2025-11-08', '2025-11-09',
               '2025-11-10', '2025-11-11', '2025-11-12', '2025-11-13',
               '2025-11-14', '2025-11-15'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df['new_date'] = df.index

In [19]:
df

,a,b,c,d,new,sqrt_of_d,log_of_d,new_a,new_date
2025-11-06,-1.950398,-0.093405,-0.004364,-0.333403,-0.426808,0.111157,-0.333403,0,2025-11-06
2025-11-07,-0.480982,-0.776177,0.528784,0.814701,0.038524,0.663738,-0.204934,0,2025-11-07
2025-11-08,-2.632174,0.531174,-0.179242,0.207979,0.739153,0.043255,-1.570319,0,2025-11-08
2025-11-09,-1.162009,0.146183,-0.517932,-0.790746,-0.644563,0.625279,-0.790746,0,2025-11-09
2025-11-10,0.094675,-0.611430,-1.171104,0.371751,-0.239679,0.138199,-0.989532,1,2025-11-10
2025-11-11,-0.046368,0.192289,1.013880,-0.530352,-0.338062,0.281273,-0.530352,0,2025-11-11
2025-11-12,0.401536,-0.764090,0.886723,1.704287,0.940197,2.904595,0.533147,1,2025-11-12
2025-11-13,-1.015680,-1.026098,-0.415103,-1.408973,-2.435071,1.985206,-1.408973,0,2025-11-13
2025-11-14,-1.422062,0.299432,1.135910,-0.559693,-0.260261,0.313256,-0.559693,0,2025-11-14
2025-11-15,-0.485642,0.161510,-0.785261,-2.457738,-2.296228,6.040474,-2.457738,0,2025-11-15

In [20]:
df.dtypes

a                   float64
b                   float64
c                   float64
d                   float64
new                 float64
sqrt_of_d           float64
log_of_d            float64
new_a                 int64
new_date     datetime64[ns]
dtype: object

In [22]:
df['day'] = df['new_date'].dt.day
df

,a,b,c,d,new,sqrt_of_d,log_of_d,new_a,new_date,day
2025-11-06,-1.950398,-0.093405,-0.004364,-0.333403,-0.426808,0.111157,-0.333403,0,2025-11-06,6
2025-11-07,-0.480982,-0.776177,0.528784,0.814701,0.038524,0.663738,-0.204934,0,2025-11-07,7
2025-11-08,-2.632174,0.531174,-0.179242,0.207979,0.739153,0.043255,-1.570319,0,2025-11-08,8
2025-11-09,-1.162009,0.146183,-0.517932,-0.790746,-0.644563,0.625279,-0.790746,0,2025-11-09,9
2025-11-10,0.094675,-0.611430,-1.171104,0.371751,-0.239679,0.138199,-0.989532,1,2025-11-10,10
2025-11-11,-0.046368,0.192289,1.013880,-0.530352,-0.338062,0.281273,-0.530352,0,2025-11-11,11
2025-11-12,0.401536,-0.764090,0.886723,1.704287,0.940197,2.904595,0.533147,1,2025-11-12,12
2025-11-13,-1.015680,-1.026098,-0.415103,-1.408973,-2.435071,1.985206,-1.408973,0,2025-11-13,13
2025-11-14,-1.422062,0.299432,1.135910,-0.559693,-0.260261,0.313256,-0.559693,0,2025-11-14,14
2025-11-15,-0.485642,0.161510,-0.785261,-2.457738,-2.296228,6.040474,-2.457738,0,2025-11-15,15

In [23]:
df['month'] = df.index.month
df

,a,b,c,d,new,sqrt_of_d,log_of_d,new_a,new_date,day,month
2025-11-06,-1.950398,-0.093405,-0.004364,-0.333403,-0.426808,0.111157,-0.333403,0,2025-11-06,6,11
2025-11-07,-0.480982,-0.776177,0.528784,0.814701,0.038524,0.663738,-0.204934,0,2025-11-07,7,11
2025-11-08,-2.632174,0.531174,-0.179242,0.207979,0.739153,0.043255,-1.570319,0,2025-11-08,8,11
2025-11-09,-1.162009,0.146183,-0.517932,-0.790746,-0.644563,0.625279,-0.790746,0,2025-11-09,9,11
2025-11-10,0.094675,-0.611430,-1.171104,0.371751,-0.239679,0.138199,-0.989532,1,2025-11-10,10,11
2025-11-11,-0.046368,0.192289,1.013880,-0.530352,-0.338062,0.281273,-0.530352,0,2025-11-11,11,11
2025-11-12,0.401536,-0.764090,0.886723,1.704287,0.940197,2.904595,0.533147,1,2025-11-12,12,11
2025-11-13,-1.015680,-1.026098,-0.415103,-1.408973,-2.435071,1.985206,-1.408973,0,2025-11-13,13,11
2025-11-14,-1.422062,0.299432,1.135910,-0.559693,-0.260261,0.313256,-0.559693,0,2025-11-14,14,11
2025-11-15,-0.485642,0.161510,-0.785261,-2.457738,-2.296228,6.040474,-2.457738,0,2025-11-15,15,11

In [24]:
df['year'] = df['new_date'].dt.year  # These both way we can fetch the day month and year
df

,a,b,c,d,new,sqrt_of_d,log_of_d,new_a,new_date,day,month,year
2025-11-06,-1.950398,-0.093405,-0.004364,-0.333403,-0.426808,0.111157,-0.333403,0,2025-11-06,6,11,2025
2025-11-07,-0.480982,-0.776177,0.528784,0.814701,0.038524,0.663738,-0.204934,0,2025-11-07,7,11,2025
2025-11-08,-2.632174,0.531174,-0.179242,0.207979,0.739153,0.043255,-1.570319,0,2025-11-08,8,11,2025
2025-11-09,-1.162009,0.146183,-0.517932,-0.790746,-0.644563,0.625279,-0.790746,0,2025-11-09,9,11,2025
2025-11-10,0.094675,-0.611430,-1.171104,0.371751,-0.239679,0.138199,-0.989532,1,2025-11-10,10,11,2025
2025-11-11,-0.046368,0.192289,1.013880,-0.530352,-0.338062,0.281273,-0.530352,0,2025-11-11,11,11,2025
2025-11-12,0.401536,-0.764090,0.886723,1.704287,0.940197,2.904595,0.533147,1,2025-11-12,12,11,2025
2025-11-13,-1.015680,-1.026098,-0.415103,-1.408973,-2.435071,1.985206,-1.408973,0,2025-11-13,13,11,2025
2025-11-14,-1.422062,0.299432,1.135910,-0.559693,-0.260261,0.313256,-0.559693,0,2025-11-14,14,11,2025
2025-11-15,-0.485642,0.161510,-0.785261,-2.457738,-2.296228,6.040474,-2.457738,0,2025-11-15,15,11,2025

In [27]:
df['day_name'] = df['new_date'].dt.day_name()
df

,a,b,c,d,new,sqrt_of_d,log_of_d,new_a,new_date,day,month,year,day_name
2025-11-06,-1.950398,-0.093405,-0.004364,-0.333403,-0.426808,0.111157,-0.333403,0,2025-11-06,6,11,2025,Thursday
2025-11-07,-0.480982,-0.776177,0.528784,0.814701,0.038524,0.663738,-0.204934,0,2025-11-07,7,11,2025,Friday
2025-11-08,-2.632174,0.531174,-0.179242,0.207979,0.739153,0.043255,-1.570319,0,2025-11-08,8,11,2025,Saturday
2025-11-09,-1.162009,0.146183,-0.517932,-0.790746,-0.644563,0.625279,-0.790746,0,2025-11-09,9,11,2025,Sunday
2025-11-10,0.094675,-0.611430,-1.171104,0.371751,-0.239679,0.138199,-0.989532,1,2025-11-10,10,11,2025,Monday
2025-11-11,-0.046368,0.192289,1.013880,-0.530352,-0.338062,0.281273,-0.530352,0,2025-11-11,11,11,2025,Tuesday
2025-11-12,0.401536,-0.764090,0.886723,1.704287,0.940197,2.904595,0.533147,1,2025-11-12,12,11,2025,Wednesday
2025-11-13,-1.015680,-1.026098,-0.415103,-1.408973,-2.435071,1.985206,-1.408973,0,2025-11-13,13,11,2025,Thursday
2025-11-14,-1.422062,0.299432,1.135910,-0.559693,-0.260261,0.313256,-0.559693,0,2025-11-14,14,11,2025,Friday
2025-11-15,-0.485642,0.161510,-0.785261,-2.457738,-2.296228,6.040474,-2.457738,0,2025-11-15,15,11,2025,Saturday

In [28]:
df.groupby('day_name').count()

,a,b,c,d,new,sqrt_of_d,log_of_d,new_a,new_date,day,month,year
day_name,,,,,,,,,,,,
Friday,2,2,2,2,2,2,2,2,2,2,2,2
Monday,1,1,1,1,1,1,1,1,1,1,1,1
Saturday,2,2,2,2,2,2,2,2,2,2,2,2
Sunday,1,1,1,1,1,1,1,1,1,1,1,1
Thursday,2,2,2,2,2,2,2,2,2,2,2,2
Tuesday,1,1,1,1,1,1,1,1,1,1,1,1
Wednesday,1,1,1,1,1,1,1,1,1,1,1,1

In [29]:
df.groupby(by='day_name').count()

,a,b,c,d,new,sqrt_of_d,log_of_d,new_a,new_date,day,month,year
day_name,,,,,,,,,,,,
Friday,2,2,2,2,2,2,2,2,2,2,2,2
Monday,1,1,1,1,1,1,1,1,1,1,1,1
Saturday,2,2,2,2,2,2,2,2,2,2,2,2
Sunday,1,1,1,1,1,1,1,1,1,1,1,1
Thursday,2,2,2,2,2,2,2,2,2,2,2,2
Tuesday,1,1,1,1,1,1,1,1,1,1,1,1
Wednesday,1,1,1,1,1,1,1,1,1,1,1,1