In [10]:
pip install mysql.connector.python

Requirement already satisfied: mysql.connector.python in c:\users\satynarayan maurya\anaconda3\lib\site-packages (9.5.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import mysql.connector as connector

In [13]:
conn = connection.connect(host="localhost",user="root",passwd="S@ty@9838021627",use_pure=True)

In [14]:
cur = conn.cursor()

In [15]:
cur.execute("show databases")

In [16]:
cur.fetchall()

[('college',),
 ('information_schema',),
 ('mysql',),
 ('ouruniversity',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('total_payment',),
 ('world',)]

In [18]:
import mysql.connector as connector
try:
    conn = connector.connect(host="localhost", user="root", passwd="S@ty@9838021627",use_pure=True)
    cur = conn.cursor()
    cur.execute("Create Database SatyaSql")
except Exception as e:
    conn.close()
    print(str(e))

In [19]:
import mysql.connector as connector 
try:
    myDb = connector.connect(host="localhost", database="satyasql", user="root", passwd="S@ty@9838021627",use_pure=True)
    cur = myDb.cursor()
    cur.execute("create table students(userId INT(10), name VARCHAR(20), rollNo INT(5), course VARCHAR(20))")
except Exception as e:
    myDb.close()
    print("Error "+e)

In [22]:
import mysql.connector as connector 
try:
    myDb = connector.connect(host="localhost",database="satyasql",user="root", passwd="S@ty@9838021627", use_pure=True)
    cur = myDb.cursor()
    for i in range(10):
        query = "INSERT INTO students VALUES (%s, %s, %s, %s)"
        values = (i + 2, 'Satynarayan Maurya'+str(i), 21150 + i + 1, 'B.Tech')
        cur.execute(query, values)
    myDb.commit()
    myDb.close()
    print("Data inserted successfully")
except Exception as e:
    myDb.close()
    print(str(e))

Data inserted successfully

In [23]:
# Fetching data from DB
import mysql.connector as connector
try:
    myDb = connector.connect(host="localhost", user="root", database="satyasql",passwd="S@ty@9838021627",use_pure=True)
    cur = myDb.cursor()
    cur.execute("select * from students")
    for i in cur.fetchall():
        print(i)
    print("All data are fetched successfully")
    myDb.close()
except Exception as e:
    myDb.close()
    print(str(e))

(1, 'Satynarayan Maurya', 21150, 'B.tech')
(2, 'Satynarayan Maurya0', 21151, 'B.Tech')
(3, 'Satynarayan Maurya1', 21152, 'B.Tech')
(4, 'Satynarayan Maurya2', 21153, 'B.Tech')
(5, 'Satynarayan Maurya3', 21154, 'B.Tech')
(6, 'Satynarayan Maurya4', 21155, 'B.Tech')
(7, 'Satynarayan Maurya5', 21156, 'B.Tech')
(8, 'Satynarayan Maurya6', 21157, 'B.Tech')
(9, 'Satynarayan Maurya7', 21158, 'B.Tech')
(10, 'Satynarayan Maurya8', 21159, 'B.Tech')
(11, 'Satynarayan Maurya9', 21160, 'B.Tech')
All data are fetched successfully

In [10]:
# Get Data like a table as they are formatted in the SQL
import mysql.connector as connector 
import pandas as pd

try:
    myDb = connector.connect(host="localhost", user="root",database="satyasql", passwd="S@ty@9838021627", use_pure=True)
    # cur = myDb.cursor()
    data = pd.read_sql("select * from students",myDb)
    print(data)
    myDb.close()
except Exception as e:
    myDb.close();
    print(str(e));

    userId                 name  rollNo  course
0        1   Satynarayan Maurya   21150  B.tech
1        2  Satynarayan Maurya0   21151  B.Tech
2        3  Satynarayan Maurya1   21152  B.Tech
3        4  Satynarayan Maurya2   21153  B.Tech
4        5  Satynarayan Maurya3   21154  B.Tech
5        6  Satynarayan Maurya4   21155  B.Tech
6        7  Satynarayan Maurya5   21156  B.Tech
7        8  Satynarayan Maurya6   21157  B.Tech
8        9  Satynarayan Maurya7   21158  B.Tech
9       10  Satynarayan Maurya8   21159  B.Tech
10      11  Satynarayan Maurya9   21160  B.Tech

C:\Users\Satynarayan Maurya\AppData\Local\Temp\ipykernel_20452\3519671830.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql("select * from students",myDb)