In [1]:
import pandas as pd

In [27]:
df = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

In [28]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [29]:
# Remove the dollar sign and convert to float
df['item_price'] = df['item_price'].str.replace('$','').astype(float)
df['item_price'].head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

In [30]:
# We are going to add more column 
df['total_price'] = df['quantity'].astype(float) * df['item_price'].astype(float)
df.head()

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [33]:
# A small data cleaning we are going to remove those rows whose choice description is NaN
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
total_price           float64
dtype: object

In [37]:
df = df.dropna(subset=['choice_description'])

In [39]:
df.head()

,order_id,quantity,item_name,choice_description,item_price,total_price
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75

In [40]:
df['choice_description'].head()

1                                         [Clementine]
2                                              [Apple]
4    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
5    [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...
7    [Tomatillo Red Chili Salsa, [Fajita Vegetables...
Name: choice_description, dtype: object

In [48]:
# Go with another file 
df1 = pd.read_csv("https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/datasets.csv")
df1.head(10)

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,Fair's Extramarital Affairs Data,601,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,Bank Wages,474,4,2,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,Bond Yield Data,60,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
5,AER,CartelStability,CartelStability,328,5,2,0,3,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
6,AER,CASchools,California Test Score Data,420,14,1,2,2,0,10,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
7,AER,ChinaIncome,Chinese Real National Income Data,37,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
8,AER,CigarettesB,Cigarette Consumption Data,46,3,0,0,0,0,3,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
9,AER,CigarettesSW,Cigarette Consumption Panel Data,96,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [53]:
# Here let's we have to change the column name Cols to columns 
df1.rename(columns={"Cols":"Columns"},inplace=True)

In [54]:
df1.head(10)

,Package,Item,Title,Rows,Columns,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,Fair's Extramarital Affairs Data,601,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,Bank Wages,474,4,2,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,Bond Yield Data,60,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
5,AER,CartelStability,CartelStability,328,5,2,0,3,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
6,AER,CASchools,California Test Score Data,420,14,1,2,2,0,10,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
7,AER,ChinaIncome,Chinese Real National Income Data,37,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
8,AER,CigarettesB,Cigarette Consumption Data,46,3,0,0,0,0,3,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
9,AER,CigarettesSW,Cigarette Consumption Panel Data,96,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [57]:
# Lets we want to convert the title into upper case
df1['Title'] = df1['Title'].str.upper()
df1.head()

,Package,Item,Title,Rows,Columns,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,FAIR'S EXTRAMARITAL AFFAIRS DATA,601,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,CONSUMER PRICE INDEX IN ARGENTINA,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,BANK WAGES,474,4,2,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"BENDERLY AND ZWICK DATA: INFLATION, GROWTH AND...",31,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,BOND YIELD DATA,60,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [60]:
df1['Rows'] = df1['Rows'].fillna(0)  # This will remove the NaN values to 0

In [61]:
df1.head()

,Package,Item,Title,Rows,Columns,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,FAIR'S EXTRAMARITAL AFFAIRS DATA,601,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,CONSUMER PRICE INDEX IN ARGENTINA,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,BANK WAGES,474,4,2,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"BENDERLY AND ZWICK DATA: INFLATION, GROWTH AND...",31,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,BOND YIELD DATA,60,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [74]:
# We are going to sort according to the Columns
sorted_df = df1.sort_values(by="Columns", ascending=True)
sorted_df.head()

,Package,Item,Title,Rows,Columns,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
57,AER,MSCISwitzerland,MSCI SWITZERLAND INDEX,4697,1,0,0,0,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
62,AER,NYSESW,DAILY NYSE COMPOSITE INDEX,4003,1,0,0,0,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2365,openintro,ball_bearing,LIFESPAN OF BALL BEARINGS,75,1,0,0,0,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
728,CardioDataSets,heartTransplantTime_tbl_df,ARTIFICIAL HEART TRANSPLANT DURATIONS,15,1,0,0,0,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
711,CardioDataSets,ami_occurrences_tbl_df,ACUTE MYOCARDIAL INFARCTION (HEART ATTACK) EVENTS,365,1,0,0,0,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [79]:
# Now Move to the next File 
df2 = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt",sep=" ")
df2.head()

          name  calories  sodium  alcohol  cost
0    Budweiser       144      15      4.7  0.43
1      Schlitz       151      19      4.9  0.43
2    Lowenbrau       157      15      0.9  0.48
3  Kronenbourg       170       7      5.2  0.73
4     Heineken       152      11      5.0  0.77

In [80]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      20 non-null     object
 1   calories  20 non-null     int64
 2   sodium    20 non-null     int64
 3   alcohol   20 non-null     float64
 4   cost      20 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 932.0+ bytes

In [82]:
df2.shape

(20, 5)

In [84]:
df2.iloc[1:3]

        name  calories  sodium  alcohol  cost
1    Schlitz       151      19      4.9  0.43
2  Lowenbrau       157      15      0.9  0.48

In [86]:
df2.loc[df2['calories'] > 150]

          name  calories  sodium  alcohol  cost
1      Schlitz       151      19      4.9  0.43
2    Lowenbrau       157      15      0.9  0.48
3  Kronenbourg       170       7      5.2  0.73
4     Heineken       152      11      5.0  0.77
6   Augsberger       175      24      5.5  0.40

In [90]:
df2['name'] = df2['name'].str.lower()
df2.head()

          name  calories  sodium  alcohol  cost
0    budweiser       144      15      4.7  0.43
1      schlitz       151      19      4.9  0.43
2    lowenbrau       157      15      0.9  0.48
3  kronenbourg       170       7      5.2  0.73
4     heineken       152      11      5.0  0.77

In [92]:
df2['name'] = df2['name'].str.capitalize()
df2.head()

          name  calories  sodium  alcohol  cost
0    Budweiser       144      15      4.7  0.43
1      Schlitz       151      19      4.9  0.43
2    Lowenbrau       157      15      0.9  0.48
3  Kronenbourg       170       7      5.2  0.73
4     Heineken       152      11      5.0  0.77

In [93]:
df2['cost'] = df2['cost'].round(3)
df2.head()

          name  calories  sodium  alcohol  cost
0    Budweiser       144      15      4.7  0.43
1      Schlitz       151      19      4.9  0.43
2    Lowenbrau       157      15      0.9  0.48
3  Kronenbourg       170       7      5.2  0.73
4     Heineken       152      11      5.0  0.77

In [94]:
# Create New column alcohol per calories
df2['alcohol_per_calories'] = df2['alcohol'] / df2['calories']
df2.head()

          name  calories  sodium  alcohol  cost  alcohol_per_calories
0    Budweiser       144      15      4.7  0.43              0.032639
1      Schlitz       151      19      4.9  0.43              0.032450
2    Lowenbrau       157      15      0.9  0.48              0.005732
3  Kronenbourg       170       7      5.2  0.73              0.030588
4     Heineken       152      11      5.0  0.77              0.032895

In [96]:
# We can sort the table according to the column sodium
sorted_by_sodium = df2.sort_values(by="sodium")
sorted_by_sodium.head()

                   name  calories  sodium  alcohol  cost  alcohol_per_calories
14                Kirin       149       6      5.0  0.79              0.033557
18  Olympia_goled_light        72       6      2.9  0.46              0.040278
19        Schlitz_light        97       7      4.2  0.47              0.043299
3           Kronenbourg       170       7      5.2  0.73              0.030588
9       Budweiser_light       113       8      3.7  0.40              0.032743

In [97]:
# Now move to the next file Manipulation 
df3 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv")
df3

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
5,1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
6,1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
7,1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
8,1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
9,1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
10,1970,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
11,1971,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
12,1972,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
13,1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
14,1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
15,1975,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
16,1976,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
17,1977,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
18,1978,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
19,1979,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
20,1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
21,1981,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
22,1982,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
23,1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
24,1984,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
25,1985,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
26,1986,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
27,1987,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
28,1988,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
29,1989,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
30,1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
31,1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
32,1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
33,1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
34,1994,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
35,1995,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
36,1996,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
37,1997,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
38,1998,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
39,1999,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
40,2000,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
41,2001,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
42,2002,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
43,2003,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
44,2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
45,2005,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
46,2006,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
47,2007,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
48,2008,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
49,2009,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
50,2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
51,2011,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
52,2012,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
53,2013,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
54,2014,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

In [98]:
df3.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

In [99]:
df3.nlargest(5,"Murder")

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
31,1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
33,1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
32,1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
30,1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
34,1994,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300

In [127]:
#df3.loc[df3['Bulglary'] == df3['Bulglary'].max()]

df3['Burglary'][df3['Burglary'] == max(df3['Burglary'])]

20    3795200
Name: Burglary, dtype: int64

In [128]:
df3.loc[df3['Burglary'] == max(df3['Burglary'])].Year

20    1980
Name: Year, dtype: int64

In [130]:
df3.loc[df3['Total'] == max(df3['Total'])]

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
31,1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700